/* HOME PAGE: TITLE */

#title {
	margin: 30px 0 25px 0;
	text-align: center;
	font-family: "Rubik Mono One", sans-serif;
	color: #B30738;
}

#subtitle {
	font-family: "Lato", serif;
}

.home {
	text-align: center;
}



/* HOME PAGE: LINKS GRID */ 

.container {
	display: inline-block;
	margin: 25px 0 30px 0;
}

.row {
	line-height: 150px;
	text-align: center;
}

.column {
	float: left;
	display: table-cell;
	width: 200px;
	height: 150px;
	margin: 0 0 25px 25px;
	padding: 25px;
	text-align: center;

	font-family: "PT Mono", sans-serif;
	background-color: #eee;
	color: #333;
	outline: 0;
	text-decoration: none;
}

.column:hover {
	background-color: #B30738;
	color: white;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}


/* PAGES */
.section {
	margin: 0 300px 50px 300px;
	line-height: 1.4;
	font-family: "Lato", sans-serif;
	color: #333;
}

.section-title {
	margin: 35px 0 25px 0;
	text-align: center;
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 30px;
}

.section h3 {
	font-family: sans-serif;
}

.section a {
	text-decoration: none;
	color: #2a6496;
}

.section li {
	margin: 0 0 10px 25px;
}


.section-item-title::before {
	content: '>>';
	margin-left: -35px;
	margin-right: 10px;
	font-family: 'Rubik Mono One', sans-serif;
	color: #B30738;
}


/* NAV BAR */

.nav {
	margin: 25px 0 0 0;
}

.nav a {
	margin: 0 10px;
}