/* HOME PAGE: TITLE */

#title {
	margin: 30px 0 25px 0;
	text-align: center;
	font-family: "Roboto Mono", monospace, sans-serif;
	font-size: 40px;
	color: #B30738;
}

#subtitle {
	font-family: "Lato", serif;
}

.home {
	text-align: center;
}



/* HOME PAGE: LINKS GRID */ 

.container {
	display: inline-block;
	margin: 25px 0 30px 0;
}

.row {
	line-height: 150px;
	text-align: center;
}

.column {
	float: left;
	display: table-cell;
	width: 200px;
	height: 150px;
	margin: 0 0 25px 25px;
	padding: 25px;
	text-align: center;

	font-family: "PT Mono", sans-serif;
	background-color: #93002A;
	color: #FFF;
	outline: 0;
	text-decoration: none;
}

.column:hover {
	background-color: #FFF9EF;
	color: #000;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}


/* PAGES */
.section {
	margin: 0 300px 50px 300px;
	line-height: 1.4;
	font-family: "Lato", sans-serif;
	color: #333;
}

.section-title {
	margin: 35px 0 25px 0;
	text-align: center;
	font-family: 'Source Code Pro', monospace, sans-serif;
	font-size: 30px;
}

.section li {
	margin: 0 0 10px 25px;
}

.section a {
	text-decoration: none;
	color: #2a6496;
}


.section-item-title {
	font-family: 'Source Code Pro', sans-serif;
}

.section-item-title::before {
	content: '+';
	margin-left: -35px;
	margin-right: 10px;
	font-family: 'Source Code Pro', sans-serif;
	font-size: 30px;
	font-weight: 900;
	color: #B30738;
}


/* NAV BAR */

.nav {
	margin: 25px 0 0 0;
	font-family: Lato, sans-serif;
	border-radius: 5px;
	box-shadow: 1px 2px #eeeeee;
}

.nav-links {
	display: inline-block;
	margin: 0 0 10px 10px;
}

.nav-links a {
	margin: 0 10px;
	text-decoration: none;
	color: #2a6496;
}